ion-content {
  --background: #121212; /* Dark background color */
  color: #ffffff; /* White text color */
}

.custom-toolbar {
  --background: #201c24;
  --color: white;
}

.bar {
  --background: #00bfa5;
}

.custom-content {
  color: #ffffff;
  padding: 16px;
  --background: #201c24;
  width: 100vw;
  height: 200vh;
}

.profile-card {
  background: #201c24;
  background-size: cover;
  color: white;
  padding: 20px;
  height: 200vh;
  width: 100vw;
}

.wallet-balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #2c2c2e;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.wallet-info {
  h2 {
    margin: 0;
  }

  .balance-amount {
    font-size: 2em;
    margin: 10px 0;
  }

  .currencies {
    color: #00bfa5;
  }
}

.profile-pic ion-avatar {
  width: 100px;
  height: 100px;
}

.details-section {
  margin-bottom: 20px;
}

.section-title {
  color: white;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.stocks-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.stocks-table,
th,
td {
  border: 1px solid #333;
}

th,
td {
  padding: 8px;
  text-align: left;
  color: white;
}

thead {
  background: #1e1e1f;
}

tbody tr:nth-child(odd) {
  background: #2c2c2e;
}

tbody tr:nth-child(even) {
  background: #1e1e1f;
}

.stock-row {
  cursor: pointer;

  &:hover {
    background: #333;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #333;
}

th,
td {
  padding: 8px;
  text-align: left;
  color: white;
}

thead {
  background: #1e1e1f;
}

tbody tr:nth-child(odd) {
  background: #2c2c2e;
}

tbody tr:nth-child(even) {
  background: #1e1e1f;
}

.theme-toggle {
  margin-top: 20px;
}

.theme-toggle ion-button {
  --background: #ff7f50;
  --color: white;
}

ion-header {
  ion-toolbar {
    --background: transparent; /* Set toolbar background to transparent */
    --ion-color-base: transparent; /* Set base color to transparent */
    --border-color: transparent; /* Set border color to transparent */
    --color: var(--ion-color-light); /* Set text color, adjust as needed */
  }
}

.custom-select-container {
  margin-bottom: 20px;
  background-color: #000;
  padding: 10px;
  border-radius: 8px;
  width: 20rem;

  .custom-select-label {
    color: white;
    font-size: 1em;
    font-weight: bold;
  }

  .custom-select {
    width: 15rem;
    padding: 10px;
    font-size: 1em;
    border: 2px solid;
    border-radius: 5px;
    background-color: #1e1e1f; /* Dark background for select */
    color: white; /* Text color */
    appearance: none; /* Remove default arrow in Chrome/Safari */
    -webkit-appearance: none; /* Remove default arrow in Firefox */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    outline: none; /* Remove outline */
    cursor: pointer; /* Cursor on hover */
  }

  .custom-select:focus {
    border-color: #67e8f9; /* Border color on focus */
  }

  /* Adjust width of dropdown options */
  .custom-select option {
    width: 15rem;
  }
}

.ion-padding {
  --background: black;
}

.black-theme {
  --ion-background-color: #1e1e1e; /* Dark gray background color */
  --ion-text-color: #ffffff; /* White text color */

  ion-item {
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);

    ion-label {
      color: var(--ion-text-color);
    }

    ion-select {
      --background: var(--ion-background-color);
      --color: var(--ion-text-color);

      ion-select-option {
        --background: var(--ion-background-color);
        --color: var(--ion-text-color);
      }
    }
  }
}

ion-select {
  --background-color: black;
}
.chart-section {
  position: relative;
}

.toggle-chart-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.chart-popup {
  position: fixed;
  top: 20%;
  left: 10%;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 50%;
  --background-color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.chart-popup ion-header {
  width: 100%;
  --background-color:black;
  z-index: 1000;
}

.chart-icon {
  font-size: 60px; /* Make the icon bigger */
  color: #00bfa5;/* Green color */
  z-index: 1000;
  width: 60px;
}

.filter-buttons {
  display: flex;
  align-items: center;
}

.icon1 {
  color: #e0e0e0; /* Light color for icons */
  background: none; /* Remove any background */
  border: none; /* Remove border if present */
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s, transform 0.3s;
}

.icon1:hover {
  color: #ffd700; /* Gold color on hover */
  transform: scale(1.2); /* Slightly enlarge on hover */
}

.title-and-icons {
  display: flex;
  align-items: center;
}

.title {
  flex: 1; /* Take up remaining space */
}

.button-container ion-icon.favorite {
  color: gold; /* Gold color for favorite icon */
}


.filter-button {
  padding: 0 0 0 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 2rem;
  height: 2rem;
}

ion-footer {
  ion-toolbar {
    --background: #000; /* Set your desired background color */
    color: #fff; /* Text color */
    font-size: 14px; /* Adjust font size as needed */
    font-family: 'Arial', sans-serif; /* Example font family */
    padding: 8px 16px; /* Adjust padding for spacing */
    
    .footer-content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .footer-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 8px 0; /* Adjust padding between rows */
    }

    .status-row {
      justify-content: center;
      font-weight: bold;
    }

    .date-row {
      justify-content: space-around;
    }

    .date-column {
      flex: 1;
      text-align: center;
    }

    .disponible {
      color: green; /* Green color for disponible status */
    }

    .Non-Disponible {
      color: red; /* Red color for non-disponible status */
    }
  }
}
