<ion-content fullscreen="true" style="--background-color: black;">
  <div class="profile-card">
    <ion-header translucent>
      <ion-toolbar>
        <div class="title-and-icons">
          <div class="title"><ion-title>{{ title }}</ion-title></div>
        
        <div class="filter-buttons" style=" padding: 0 0 0 10px;
      background: none; 
      border: none; 
      cursor: pointer;
      transition: background-color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      
      ">
      
        <button (click)="filterStocks('priceHighToLow')" class="filter-button">
            <ion-icon name="trending-up-outline" fill="clear" style="font-size: 24px;color: white;"></ion-icon>
          </button>
          <button (click)="filterStocks('change')" class="filter-button">
            <ion-icon name="text-outline" fill="clear" style="font-size: 24px;color: white;"></ion-icon>
          </button>
          <button (click)="clearFilters()" class="filter-button">
            <ion-icon name="close-outline" fill="clear" style="font-size: 40px;color: white;"></ion-icon>
          </button>
      </div>
    </div>
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-list class="black-theme">
      <ion-item>
        <ion-label>Choose an Account</ion-label>
        <ion-select placeholder="Select an account" (ionChange)="onAccountChange($event)">
          <ion-select-option *ngFor="let account of accounts" [value]="account._id">{{ account.name }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!-- Wallet Balance Section -->
    <div *ngIf="selectedAccount" class="wallet-balance">
      <div class="profile-pic">
        <ion-avatar>
          <img src="../../../assets/images/portfeuille.jpg">
        </ion-avatar>
      </div>
      <div class="wallet-info">
        <h2>Totale Portfeuille</h2>
        <p class="currencies">Date: {{ currentDate }}</p>
        <p class="currencies">Solde: {{ selectedAccount.solde | number:'1.2-2' }}</p>
        <p class="currencies">Espèce: {{ espece | number:'1.2-2' }}</p>
        <p class="currencies">Portfeuille Titre: {{ titre | number:'1.2-2' }}</p>
      </div>
    </div>

    <!-- Stocks Table Section -->
    <div *ngIf="selectedAccount" class="details-section">
      <h2 class="section-title">Stocks for {{ selectedAccount.name }}</h2>
      <table class="stocks-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Change</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of selectedStocks" (click)="showStockDetails(stock)" class="stock-row">
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.price | currency }}</td>
            <td>{{ stock.change | number:'1.2-2' }}</td>
            <td>{{ stock.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Stock Details Table Section -->
    <div *ngIf="selectedStockDetails" class="details-section">
      <h2>Details for {{ selectedStockDetails.symbol }}</h2>
      <table class="details-table">
        <thead>
          <tr>
            <th>Date Inv</th>
            <th>Stock</th>
            <th>NbJrs</th>
            <th>Price</th>
            <th>P&L</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ currentDate }}</td>
            <td>{{ selectedStockDetails.quantity }}</td>
            <td>{{ selectedStockDetails.validity }}</td>
            <td>{{ selectedStockDetails.price * selectedStockDetails.quantity | currency }}</td>
            <td>{{ selectedStockDetails.change | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pie Chart Section -->
    <div *ngIf="selectedAccount" class="chart-section">
      <div style="width: 60px;">
      <button (click)="toggleChart()" class="toggle-chart-button">
        <ion-icon name="pie-chart" class="chart-icon" style="margin-left: 75vw;"></ion-icon>
      </button>
      </div>
      <div *ngIf="isChartVisible" class="chart-popup" >
        
    
        <ion-content>
          <ion-toolbar>
            <ion-title>Portfolio Distribution</ion-title>
            
          </ion-toolbar>
          <canvas style="background-color: white;"
            [type]="'pie'" 
            baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [options]="pieChartOptions" 
            [legend]="pieChartLegend"
            [plugins]="pieChartPlugins" 
            chartType="pie">
          </canvas>
        </ion-content>
      </div>
    </div>
    
    
  </div>
</ion-content>
