.profile-card {
    background-image: url(../../../assets/images/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding: 20px;
    
    
    height: 100vh;
    width: 100vw;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .profile-info {
    flex: 1;
    margin-left: 20%;
  }
  
  .profile-info h2,
  .profile-info p {
    margin: 0 0 0 5x;
  }
  
  .logout-button {
    --color: white;
  }
  
  ion-list {
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 10px;
  }
  
  ion-item {
    --background: #2b2b2b;
    --color: white;
    border-radius: 10px;
    margin: 5px 0;
  }
  
  .theme-toggle {
    margin-top: 20px;
  }
  
  .theme-toggle ion-button {
    --background: #ff7f50;
    --color: white;
  }
  ion-header {
    ion-toolbar {
      --background: transparent; /* Set toolbar background to transparent */
      --ion-color-base: transparent; /* Set base color to transparent */
      --border-color: transparent; /* Set border color to transparent */
      --color: var(--ion-color-light); /* Set text color, adjust as needed */
    }
  }
  
  .profile-info-container {
    display: flex;
    align-items: meft;
    justify-content: space-between;
  }
  
  .profile-info {
    flex-grow: 1;
  }
  
  .profile-image {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    overflow: hidden;
    border-radius: 50%;
  
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

 