body{
    background-image: url(../assets/images/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.custom-toolbar {
    --background: #1e1e1e;
    --color : white;
  }
  .bar{
    --background : #00bfa5;
  }
  .sidebar {
    
    color: #ffffff;
    padding: 16px;
    --background: #1e1e1e;
    width: 100vw;
    height: 100vh;
  }