/* stock.component.scss */
.container {
    padding: 10px;
  }
  .bar{
    --background : #00bfa5;
  }
  
  .budget-card {
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 16px;
    border-radius: 10px;
  }
  
  .budget-header {
    margin-bottom: 10px;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #00bfa5;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .footer-toolbar {
    --background: #ffffff; /* White background for the toolbar */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-button {
    margin: 0 5px; /* Margin between buttons */
    --border-radius: 20px;
    
    
    --background: #f1f1f1; /* Light background for buttons */
    --color: #333; /* Dark text color for buttons */
  }
  
  .button-active {
    --background: #00bfa5; /* Active button background color */
    --color: #ffffff; /* Active button text color */
  }
  