.profile-card {
  background: #121212;
  color: white;
  padding: 20px;
  height: 300vh;
  width: 100vw;

  ion-header {
    ion-toolbar {
      --background: transparent;
      --ion-color-base: transparent;
      --border-color: transparent;
      --color: var(--ion-color-light);
    }
  }
}

.container {
  padding: 6px 20px;
  color: #FFFFFF;

  ion-item {
    --background: rgba(255, 255, 255, 0.1);
    padding: 0;
    margin: 14px 0;
    --border-radius: 14px;
    color: #FFFFFF;
    font-weight: 600;
    width: 80vw;

    ion-label {
      padding: 6px 0;

      h4, h5, h6 {
        font-weight: 600;
        font-size: 16px;
        word-wrap: break-word;
        max-width: 100%;
        overflow-wrap: break-word;
      }

      h5 {
        font-size: 14px;
      }

      h6 {
        color: rgba(255, 255, 255, 0.66);
        font-size: 14px;
      }
    }
  }
}

.notification-text {
  display: flex;
  align-items: left;
  padding: 0 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  animation: fade-in 0.65s ease-in forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
