<ion-content>
  <div class="profile-card">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="container"  >
      <div>
      <div class="rectangle" *ngFor="let historyy of history">
        <div class="notification-text" >
          <i class="material-icons">{{ historyy.date | date: 'yyyy-MM-dd' }}</i>
          <span>&nbsp;&nbsp;{{ historyy.message }}</span>
        </div>
      </div>
    </div>
    </div>
    
  </div>
</ion-content>


