<ion-content>
  <div class="edit-profile-card">
    <ion-card-content>
      <ion-header translucent style="margin-bottom: 10%;">
        <ion-toolbar>
          <ion-title>{{ title }}</ion-title>
          <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-item class="input-field">
        <ion-label position="floating" >Current Password</ion-label>
        <ion-input type="password" [(ngModel)]="oldPassword"></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-label position="floating" >New Password</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-label position="floating" >Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>

      

      <ion-button class="register-button" (click)="changePassword()">Save Changes</ion-button>
    </ion-card-content>
  </div>
</ion-content>
