<ion-content>
  <div class="edit-profile-card">
    <ion-card-content>
      

      <ion-item class="input-field">
        <ion-label position="floating" >Current Password</ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-label position="floating" >New Password</ion-label>
        <ion-input type="email" ></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-label position="floating" >Confirm Password</ion-label>
        <ion-input type="string"></ion-input>
      </ion-item>

      

      <ion-button class="register-button" (click)="saveNewPassword()">Save Changes</ion-button>
    </ion-card-content>
  </div>
</ion-content>
