.edit-profile-card {
    background-image: url(../../../../assets/images/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    height: 100vh;
    width: 100vw;
    
}

.input-field {
    --background: #373A40;
    --color: #ffffff;
    margin-bottom: 16px;
    border-radius: 10px;
}

.register-button {
    width: 325px;
    height: 50px;
    --border-radius: 10px;
    --background: #00bfa5;
    text-transform: capitalize;
    /* Ensure text is lowercase */
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 1rem;
}

ion-list {
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 10px;
  }
  
  ion-item {
    --background: #2b2b2b;
    --color: white;
    border-radius: 10px;
    margin: 5px 0;
  }
  
  .theme-toggle {
    margin-top: 20px;
  }
  
  .theme-toggle ion-button {
    --background: #ff7f50;
    --color: white;
  }
  ion-header {
    ion-toolbar {
      --background: transparent; /* Set toolbar background to transparent */
      --ion-color-base: transparent; /* Set base color to transparent */
      --border-color: transparent; /* Set border color to transparent */
      --color: var(--ion-color-light); /* Set text color, adjust as needed */
    }
  }