<ion-content>
  <div class="profile-card">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="container">
      <ion-item lines="none" *ngFor="let order of orders">
        <ion-grid>
          <ion-row class="ion-align-items-center"
            [ngStyle]="{'color': order.orderType === 'Sold' ? 'red' : 'green'}">
            <ion-label>
              <h4>{{ order.date | date: 'yyyy-MM-dd HH:mm:ss' }}</h4>
              <h5>Order ID: {{ order.symbol }}</h5>
              <h6>Order ID: {{ order.owner }}</h6>
              <h6>Price: {{ order.price | currency }}</h6>
              <h6>Quantity Ordered: {{ order.quantityOrdered }}</h6>
              <h6>Change: {{ order.change | number:'1.2-2' }}</h6>
              <h6>Total Price : {{ order.price + order.price*order.change | number:'1.2-2' }}</h6>
            </ion-label>
          </ion-row>

        </ion-grid>
      </ion-item>
    </div>
  </div>
</ion-content>