.profile-card {
  background-color: #201c24;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  padding: 20px;
  height: 450vh;
  width: 100vw;
}

.theme-toggle {
  margin-top: 20px;
}

.theme-toggle ion-button {
  --background: #ff7f50;
  --color: white;
}

ion-header ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent;
  --border-color: transparent;
  --color: var(--ion-color-light);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header-card {
  background-color: #1c1c1c;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
  color: white;
}

.stock-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #d0e7da;
  margin-left: 10px;
}

h1, h2, h3, h6, h4 {
  margin: 0;
}

p {
  width: 50px;
}

.buy-button,
.sell-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 5rem;
  margin-left: 5rem;
  opacity: 1; /* Ensure buttons are fully visible by default */
  transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}
.stock-card.disabled,
.buy-button:disabled,
.sell-button:disabled {
  opacity: 0.6; /* Reduce opacity for disabled state */
  cursor: not-allowed; /* Change cursor to indicate non-interactivity */
}

.button-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10rem;
}

.button-container button {
  margin-bottom: 0.4rem;
}

.button-container button:last-child {
  margin-bottom: 0;
}

.stock-list {
  display: flex;
  flex-wrap: wrap;
}

.stock-card {
  width: 100vw;
  margin: 10px 0px 0px 0px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  width: max-content;
  /* Ensure the container fits all the cards in a single line */
  animation: scroll 10s linear infinite;
  /* Increase the speed by shortening the duration */
}

.stock-cardd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  height: 3rem;

  /* Set the height to 100px */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #d0e7da;
}

.col {
  flex: 1;
  text-align: left;
}

.symbol,
.price,
.change {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.filter-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

  button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #000;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}

.col .symbol {
  width: 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6));
  }
}

.button-container ion-icon {
  font-size: 50px;
  color: #ccc;
  /* Set initial color for unfilled */
  cursor: pointer;
}

.button-container ion-icon.favorite {
  color: gold;
  /* Set the color to gold when filled */
}

.button-container ion-icon:hover {
  transform: scale(1.2);
  /* Optional: Add a hover effect */
}


.title-and-icons {
  display: flex;
  align-items: center;
}

.title {
  flex: 1; /* Take up remaining space */
}

.filter-buttons {
  display: flex;
  align-items: center;
}

.filter-button {
  padding: 0 0 0 10px; /* Adjust padding as needed */
  background: none; /* Remove any background */
  border: none; /* Remove border if present */
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button ion-icon {
  font-size: 24px;
}

.filter-button:hover {
  color: red;
}