* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


.profile-card {
  background-color: #201c24;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  padding: 20px;
  min-height: calc(100vh - 56px); /* 56px is the height of the footer */
  width: 100vw;
}

ion-header {
  background-color: #201c24;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  // padding: 20px;
  // min-height: calc(100vh - 56px); /* 56px is the height of the footer */
  width: 100%;
  ion-toolbar {
    --background: transparent; /* Set toolbar background to transparent */
    --ion-color-base: transparent; /* Set base color to transparent */
    --border-color: transparent; /* Set border color to transparent */
    --color: var(--ion-color-light); /* Set text color, adjust as needed */
  }
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.stock-card {
  margin: 20px 0 0 0 ;
  width: 500px;
  height: 200px;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  box-shadow: 1px 2px 10px -4px;
  background: #fff;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.stock-card.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.stock-card .item-image {
  width: 140px;
  height: 140px;
  // background: lightgrey
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock-card .item-image ion-icon {
  width: 5rem;
  height: 5rem; /* Adjust size as needed */
  color: #ccc; /* Icon color */
  cursor: pointer;
}

.stock-card .item-image ion-icon.favorite {
  color: gold; /* Color for favorite icon state */
}

.stock-card .item-image ion-icon:hover {
  transform: scale(1.2); /* Scale effect on hover */
}

.stock-card .item-details {
  height: 140px;
  width: 150px;
  display: flex;
  flex-direction: column;
  
  margin-left: 20px;
  margin-top: 20px;
}
.item-details span{
  font-size: 3rem;
 
}
.stock-card .heading {
  font-size: 40px;
  
}

.stock-card .sub-heading {
  font-size: 30px;
  color: grey;
  width: 100%;
}

.stock-card .item-price {
  margin-top: 80px;
  
  text-align: left;
  margin-right: 0;
}

.stock-card:hover {
  transform: scale(1.05);
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 5rem;
}

.button-container ion-icon {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}

.button-container ion-icon.favorite {
  color: gold;
}

.button-container ion-icon:hover {
  transform: scale(1.2);
}

.button-container button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 5rem;
  
  opacity: 1;
  transition: opacity 0.3s ease;
}

.button-container button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.stock-card :disabled{
  cursor: not-allowed;
}

@media only screen and (max-width: 480px) {
  .stock-card {
    width: 100%;
    height: 130px;
  }
  .stock-card .item-image {
    width: 100px;
    height: 100px;
    margin-left: 0;
  }
  .stock-card .item-details {
    height: 100px;
    margin-right: 0;
  }
  .stock-card .heading {
    font-size: 12px;
  }
  .stock-card .sub-heading {
    font-size: 10px;
  }
  .stock-card .item-price {
    margin-top: 60px;
    font-size: 10px;
  }
  .stock-card:hover {
    transform: scale(1.05);
  }
}

ion-header ion-toolbar {
  --background: #1c1c1c;
  --ion-color-base: #1c1c1c;
  --border-color: #1c1c1c;
  --color: var(--ion-color-light);
}

.filter-buttons {
  display: flex;
  align-items: center;
}

.filter-button {
  padding: 0 0 0 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button ion-icon {
  font-size: 24px;
}

.filter-button:hover {
  color: red;
}

ion-footer {
  ion-toolbar {
    --background: #000; /* Set your desired background color */
    color: #fff; /* Text color */
    font-size: 14px; /* Adjust font size as needed */
    font-family: 'Arial', sans-serif; /* Example font family */
    padding: 8px 16px; /* Adjust padding for spacing */
    
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .footer-section {
      text-align: center;
    }

    .date-section {
      flex: 1.5; /* Date section takes more space */
    }

    .volume-section,
    .change-section {
      flex: 1.5; /* Equal width for volume and change sections */
    }
    .disponible {
      color: green; /* Green color for disponible status */
    }

    .non-disponible {
      color: red; /* Red color for non-disponible status */
    }
  }
}



.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  width: max-content; /* Ensure the container fits all the cards in a single line */
  animation: scroll 10s linear infinite; /* Increase the speed by shortening the duration */
}

.stock-cardd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  height: 50px; /* Set the height to 100px */
  margin: 10px;
  
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ccc;
}

.col {
  flex: 1;
  text-align: left;
}

.symbol, .price, .change {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col .symbol{
  width: 50px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6));
  }
}