<ion-header translucent>
  <ion-toolbar>
    <div class="title-and-icons">
      <div class="title">
        <ion-title>{{ title }}</ion-title>
      </div>
      <div class="filter-buttons">
        <button (click)="filterStocks('priceHighToLow')" class="filter-button">
          <ion-icon name="trending-up-outline" fill="clear"></ion-icon>
        </button>
        <button (click)="filterStocks('alphabetical')" class="filter-button">
          <ion-icon name="text-outline" fill="clear"></ion-icon>
        </button>
        <button (click)="filterStocks('favorites')" class="filter-button">
          <ion-icon name="star-outline" fill="clear"></ion-icon>
        </button>
        <button (click)="clearFilters()" class="filter-button">
          <ion-icon name="close-outline" fill="clear"></ion-icon>
        </button>
      </div>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-card">
    <div class="product-list">
      <div *ngFor="let stock of filteredStocks" 
           class="stock-card" 
           [ngStyle]="{'color': stock.color}" 
           [class.disabled]="stock.status === 'Non-Disponible'" 
           (click)="stock.status !== 'Non-Disponible' && goToIntraday(stock.symbol)">        
        <div>
          <h4>{{ stock.symbol }}</h4>
          <h4>SA : {{ stock.price | currency }}</h4>
          <h4>SP : {{ stock.price | currency }}</h4>
          <h4>+B {{ stock.change | number:'1.2-2' }}%</h4>
          <h4>Qte : {{ stock.quantity }}</h4>
          <h3 style="font-weight: bold;">{{ stock.status }}</h3>
        </div>
        <div class="button-container">
          <ion-icon name="star-outline" style="margin-left: 60%; height:3rem; width: 3rem;" 
                    [ngClass]="{'favorite': stock.favorite}" 
                    (click)="toggleFavorite($event, stock)">
          </ion-icon>
          <button (click)="buy($event, stock)" [disabled]="stock.status === 'Non-Disponible'" class="buy-button">
            <img src="../../../assets/images/buy.png" alt="Buy">
          </button>
          <button (click)="sell($event, stock)" [disabled]="stock.status === 'Non-Disponible'" class="sell-button">
            <img src="../../../assets/images/sell.png" alt="Sell">
          </button>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <span>{{ today | date: 'fullDate' }}</span>
      <span>{{ availabilityStatus }}</span>
    </div>
  </ion-toolbar>
</ion-footer>