<ion-content [fullscreen]="true">
  <div class="profile-card">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="filter-options">
      <button (click)="filterStocks('priceHighToLow')">Price (High to Low)</button>
      <button (click)="filterStocks('alphabetical')">Alphabetical</button>
      <button (click)="filterStocks('favorites')">Favorites</button>
      <button (click)="loadStockData()">Clear Filters</button>
    </div>
    <div class="product-list">
      <div *ngFor="let stock of filteredStocks" class="stock-card" [ngStyle]="{'color': stock.color}">
        <div>
          <h4>{{ stock.symbol }}</h4>
          <h4>SA : {{ stock.price | currency }}</h4>
          <h4>SP : {{ stock.price | currency }}</h4>
          <h4>+B {{ stock.change | number:'1.2-2' }}%</h4>
          <h4>Qte : {{ stock.quantity }}</h4>
        </div>
        <div class="button-container">
          <button (click)="buy(stock)" [disabled]="stock.status === 'Non-Disponible'" class="buy-button">
            <img src="../../../assets/images/buy.png" alt="Buy">
          </button>
          <button (click)="sell(stock)" [disabled]="stock.status === 'Non-Disponible'" class="sell-button">
            <img src="../../../assets/images/sell.png" alt="Sell">
          </button>
          <ion-icon name="star-outline" [ngClass]="{'favorite': stock.favorite}" (click)="toggleFavorite(stock)"></ion-icon>

          <h4>{{ stock.status }}</h4>
        </div>
        <div *ngIf="stock.status !== 'Non-Disponible'" class="clickable-area" (click)="goToIntraday(stock.symbol)">
        </div>
      </div>
    </div>

  </div>
</ion-content>
