ion-content {
  --background: black;
  // --background: url(../../../assets/images/backgroundimage.png);
  //   --background: no-repeat;
  //   --background: 100%; 
    width: 100%;/* Adjust background color as needed */
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  
  width: 100%;
}
.header-card {
  background-color: #1c1c1c;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
  color: white;
}


.stock-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #D0E7DA;
  margin-left: 10px;
}
h1, h2, h3,h6 {
  margin: 0;
}

p{
  width: 50px;
}



.buy-button,
.sell-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 5rem;
  margin-left: 4rem;
}


.button-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 8rem;
  top: 3rem;
}
.button-container button {
  margin-bottom: 0.4rem;
}

.button-container button:last-child {
  margin-bottom: 0;
}

.stock-list {
  display: flex;
  flex-wrap: wrap;
}

.stock-card {
  width: 100vw;
  margin: 10px 0px 0px 0px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  width: max-content; /* Ensure the container fits all the cards in a single line */
  // animation: scroll 10s linear infinite; /* Increase the speed by shortening the duration */
}

.stock-cardd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  height: 100px; /* Set the height to 100px */
  margin: 10px;
  
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #D0E7DA;
}

.col {
  flex: 1;
  text-align: left;
}

.symbol, .price, .change {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col .symbol{
  width: 50px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6));
  }
}


