<ion-content>
  <div class="add-account-card">
    <ion-card-content>
      <ion-item class="input-field">
        <ion-label position="floating">Account Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-label position="floating">Stock</ion-label>
        <ion-input type="text" [(ngModel)]="stock"></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-label position="floating">Solde</ion-label>
        <ion-input type="number" [(ngModel)]="solde"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="addAccount()">Add Account</ion-button>
    </ion-card-content>
  </div>
</ion-content>
