<ion-content>
  <div class="add-account-card">
    <ion-header translucent style="height:50px">
      <ion-toolbar>
        
        <div class="title-and-icons">
          <ion-title>{{ title }}</ion-title>
          <div class="filter-buttons"> 
            <div class="filter-buttons" style=" padding: 0 0 0 10px;
        background: none; 
        border: none; 
        cursor: pointer;
        transition: background-color 0.3s;
        
        ">
              <button (click)="navigateBack()" class="filter-button" style="font-size: 24px;color: white;width: 3rem;">
                <ion-icon name="arrow-back" fill="clear" style="margin-right: 10px;"></ion-icon></button>
            </div>
          </div>
        </div>
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-card-content>
      <h1 style="font-size: 1.5rem;margin-left: 7%;margin-top: 10%;">Create a new account!</h1>
      <div class="container">
      <ion-item class="input-field">
        <ion-label position="floating">Account Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>
      
      <ion-item class="input-field">
        <ion-label position="floating">Solde</ion-label>
        <ion-input type="number" [(ngModel)]="solde"></ion-input>
      </ion-item>

      <ion-button class="add-button" (click)="addAccount()">Add Account</ion-button>
    </div>
    </ion-card-content>
  </div>
</ion-content>
