.profile-card {
    background: #121212;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding: 20px;
    
    
    height: 400vh;
    width: 100vw;
  }
  ion-header {
    ion-toolbar {
      --background: transparent; /* Set toolbar background to transparent */
      --ion-color-base: transparent; /* Set base color to transparent */
      --border-color: transparent; /* Set border color to transparent */
      --color: var(--ion-color-light); /* Set text color, adjust as needed */
    }
  }
 


  .container{
	padding:6px 20px;
	color : #FFFFFF;
	
	ion-item{
		--background : rgba(255 ,255,255,.1);
		padding:0;
		margin:14px 0;
		--border-radius : 14px;
		color : #FFFFFF;
		font-weight:600;
		width: 80vw;
		ion-label{
			padding:6px 0;

			h4{
				font-weight: 600;
				font-size: 16px;
			}
			h6{
				color : rgba(255,255,255,.66)
			}
		}
	}
}



@keyframes scale-in {
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes expand {
	50% {
		width: 350px;
		border-radius: 6px;
	}
	100% {
		width: 300px;
		border-radius: 4px;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2),
								0px 1px 1px 0px rgba(0,0,0,.14),
								0px 3px 3px -1px rgba(0,0,0,.12);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .8;
	}
}
  
// .history-row {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: flex-start;
// 	align-items: flex-start;
// 	padding: 10px;
// 	background-color: #1e1e1e; /* Dark background for contrast */
// 	border-radius: 8px; /* Rounded corners */
// 	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
// 	color: #ffffff; /* White text color for readability */
//   }
  
  .history-label {
	display: flex;
	flex-direction: column;
	width: 100%;
  }
  
  .history-date {
	margin-bottom: 5px;
	font-size: 1em;
	color: #aaa; /* Light grey for date */
  }
  
  .history-message {
	font-size: 1em;
	word-wrap: break-word; /* Ensure the message wraps within the container */
	white-space: normal; /* Allow normal wrapping */
	color: #fff; /* White color for message */
  }