<ion-content [fullscreen]="true">
  <div class="register-bg">
    <div class="logo-container">
      <img src="../../../../assets/images/logo.png" class="logo" />
    </div>
    <div class="register-content">
      <p class="register-description">Create your account below.</p>

      <ion-item class="input-field">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" placeholder="Enter your name..." [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item class="input-field">
        <ion-label position="floating">phone Number</ion-label>
        <ion-input type="number" placeholder="Enter your phone number..." [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" placeholder="Enter your email..." [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="{{ showPassword ? 'password' : 'text'}}" placeholder="Enter your password..." [(ngModel)]="password"></ion-input>
        <ion-icon name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}" slot="end" class="eye-icon" style="margin-top: 15px;" (click)="toggleShowPassword()"></ion-icon>
      </ion-item>
      <ion-item class="input-field">
        <ion-label>Profile Image</ion-label>
        <input type="file" (change)="onFileSelected($event)">
      </ion-item>
      

      <ion-button class="register-button" (click)="createAccount()">Create Account</ion-button>

    </div>
    <div class="login-redirect">
      <ion-icon name="arrow-back" style="color: #00bfa5;"></ion-icon>
      <ion-button fill="clear" class="login-button" (click)="navigateToLogin()" style="color: #00bfa5;">Login</ion-button>
      <span>Already have an account?</span>
    </div>
  </div>
</ion-content>
