<ion-content>
  <div class="edit-profile-card">
    <ion-header translucent style="height:50px">
      <ion-toolbar>
        <div class="title-and-icons">
          <ion-title>Edit {{ title }}</ion-title>
          <div class="filter-buttons"> 
            <div class="filter-buttons" style=" padding: 0 0 0 10px;
        background: none; 
        border: none; 
        cursor: pointer;
        transition: background-color 0.3s;
        
        ">
              <button (click)="navigateBack()" class="filter-button" style="font-size: 24px;color: white;width: 3rem;">
                <ion-icon name="arrow-back" fill="clear" style="margin-right: 10px;"></ion-icon></button>
            </div>
          </div>
        </div>
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-card-content>
      <ion-avatar class="profile-avatar">
        <!-- <img [src]="editProfileUsersRecord?.photoUrl || 'assets/default-avatar.png'" /> -->
      </ion-avatar>
      <ion-button expand="block" fill="clear" type="file" class="change-photo-button">
        Change Photo
      </ion-button>

      <ion-item class="input-field">
        <ion-label position="floating" >Your Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-label position="floating" >Email Address</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-label position="floating" >Your Phone Number</ion-label>
        <ion-input type="string" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>

      

      <ion-button class="register-button" (click)="saveProfileChanges()">Save Changes</ion-button>
    </ion-card-content>
  </div>
</ion-content>
