<ion-header>
  <ion-toolbar style="background-color: #1e1e1e;">
    <div class="title-and-icons">
      <div class="title"><ion-title>{{ stock.symbol }} Intraday</ion-title></div>
      <div class="filter-buttons"> <ion-icon class="icon1" name="star-outline" style="margin-right: 10px;"
          [ngClass]="{'favorite': stock.favorite}" (click)="toggleFavorite($event, stock)"></ion-icon>
        <div class="filter-buttons" style=" padding: 0 0 0 10px;
    background: none; 
    border: none; 
    cursor: pointer;
    transition: background-color 0.3s;
    
    ">
          <button (click)="navigateBack()" class="filter-button" style="font-size: 24px;color: white;width: 3rem;">
            <ion-icon name="arrow-back" fill="clear" style="margin-right: 10px;"></ion-icon></button>
        </div>
      </div>
    </div>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="container">
  <ion-content class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ symbol }} Profondeur</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>QteA</th>
                <th>Buy Price</th>
                <th>QteV</th>
                <th>Sell Price</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of profondeurData">
                <td>{{ item.qteA || 0 }}</td>
                <td>{{ item.buy | number:'1.2-2' }}</td>
                <td>{{ item.qteV || 0 }}</td>
                <td>{{ item.sold | number:'1.2-2' }}</td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </ion-card-content>
      
    </ion-card>
  </ion-content>
  </ion-content>


<ion-footer style="background-color: #1e1e1e;align-items: center;display: flex;justify-content: center;">
  
  <ion-buttons slot="start" style="background-color: #1e1e1e;color:white">
    <ion-button (click)="goToIntraday(stock.symbol)">Intraday</ion-button>
    <ion-button (click)="goToTransaction(stock.symbol)">Transaction</ion-button>
    <ion-button >Profondeur</ion-button>
  </ion-buttons>

</ion-footer>
