.profile-card {
    background: #121212;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding: 20px;
    
    
    height: 300vh;
    width: 100vw;
  }
  ion-header {
    ion-toolbar {
      --background: transparent; /* Set toolbar background to transparent */
      --ion-color-base: transparent; /* Set base color to transparent */
      --border-color: transparent; /* Set border color to transparent */
      --color: var(--ion-color-light); /* Set text color, adjust as needed */
    }
  }
  // .notification {
  //   text-align: center;
  //   padding: 20px;
  //   background-color: #c94242;
  //   border: 1px solid #130000;
  //   margin: 20px;
  // }
  

 

.container {
	display: flex;
	height: 80vh;
	
}

.rectangle {
  margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	width: 50px;
	height: 50px;
	background: #108672;
	transform: scale(0);
	border-radius: 50%;
	color: white;
	opacity: 0;
	overflow: hidden;
	animation: scale-in .3s ease-out forwards,
		expand .35s .25s ease-out forwards;
}

.notification-text {
	display: flex;
	align-items: left;
	padding: 0 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	animation: fade-in .65s ease-in forwards;
}

@keyframes scale-in {
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes expand {
	50% {
		width: 350px;
		border-radius: 6px;
	}
	100% {
		width: 300px;
		border-radius: 4px;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2),
								0px 1px 1px 0px rgba(0,0,0,.14),
								0px 3px 3px -1px rgba(0,0,0,.12);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .8;
	}
}