<ion-content>
  <div class="profile-card">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    
    <div class="container" >
      <div>
      <div class="rectangle" *ngFor="let notification of notificationMessages" (click)="markAsRead(notification._id)" >
        <div class="notification-text" [ngClass]="{'read': notification.read}" >
          <i class="material-icons">{{ notification.date | date: 'yyyy-MM-dd' }}</i>
          <span>&nbsp;&nbsp;{{ notification.message }}</span>
        </div>
      </div>
    </div>
    </div>
  </div>
 
</ion-content>
