<ion-content>
  <div class="profile-card">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    
    <div class="containerr">
      <div>
        <span>{{ today | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
      </div>
    </div>

    <div class="container">
      <div>
      <ion-item lines="none" *ngFor="let notification of notificationMessages" (click)="markAsRead(notification._id)" [ngStyle]="{'background': notification.color,}" style="padding:0;
      margin:14px 0;
      border-radius : 14px;
      color : #FFFFFF;
      font-weight:600;
      width: 80vw;">
        <ion-grid  >
          <ion-row class="ion-align-items-center" [ngClass]="{'read': notification.read}" >
            
            
            <ion-col size="8">
              <div>
                <ion-label>
                <h4>{{ notification.date | date: 'yyyy-MM-dd HH:mm:ss' }}</h4>
                <h4>{{ notification.message }}</h4>
              </ion-label>
              </div>
            </ion-col>

            <!-- Icon taking 30% width and aligned to the right -->
            <ion-col size="4" class="ion-text-end">
              <ion-icon *ngIf="notification.isRead" name="checkmark-circle-outline" style="font-size: 24px;"></ion-icon>
            </ion-col>
            
            
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
    </div>
  </div>
 
</ion-content>



